body {
    background-color: #B2CFF7;
}

.weather_app {
    background-color:#d7e5f8;
    max-width: 600px;
    margin: 30px auto;
    padding: 30px;
    box-shadow: 0 30px 50px rgba(65, 50, 100 0.08);
    border-radius: 14px;
    font-family: "Montserrat", sans-serif;
    
    
}